.grid_item {
  background-color: #fff;
  border-radius: 0.25rem;

  &img {
    cursor: pointer;
  }
}

.article_body {
  padding: 1rem;

  & h3 {
    font-size: 18px;
    font-weight: bold;
    color: #0171a6;
    cursor: pointer;
  }
}

.article_date {
  font-size: 0.85rem;
  color: #9c9c9c;
}

.article_desc {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.img {
  cursor: pointer;
}
