.nav {
  display: flex;
  align-items: center;
  height: 100%;

  & ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    padding: 0;
  }

  & ul li {
    padding: 0 1rem;
  }
  & ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
    will-change: color;
  }
  & ul li a:hover {
    color: #53ae94;
  }
}

.separate {
  width: 1px;
  height: 1.8rem;
  background-color: #fff;
  margin: 0 1rem;
}

.button {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;
  margin: 0 0.5rem;

  &:hover {
    color: #53ae94;
    text-decoration: underline;
  }
}

.account {
  position: relative;

  & button {
    background: none;
    border: 0;
    color: #fff;
  }

  & > div {
    position: absolute;
    top: 2.5rem;
    right: -5rem;
  }
  & > div > ul {
    background: #fff;
    width: 160px;
    padding: 0.6rem;
    transition: visibility 0s ease 0.15s, opacity 0.15s ease, margin 0.15s ease;
    display: block;
    border-radius: 0.3rem;
  }

  & > div ul li a {
    color: #394247;
    font-size: 14px;
    line-height: 3em;
  }
  & > div ul li a:hover {
    color: #f7931a;
  }
}
