@mixin header {
  background: linear-gradient(
      0deg,
      rgba(40, 100, 144, 0.68) 0,
      rgba(6, 87, 144, 0.56) 210%
    ),
    url(/bg-min.jpg);
  position: fixed;
  top: 0;
  right: 0;
  height: 65px;
  width: 100vw;
  z-index: 99;
}

.header {
  @include header;
}

.logo {
  display: flex;
  align-items: center;

  & h1 {
    margin-bottom: 0;
  }
  & a {
    color: #fff;
    text-decoration: none;
  }
}

.header_mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .header {
    display: none;
  }
  .header_mobile {
    display: block;
    position: relative;
    @include header;
  }
  .menu_btn {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;

    & span {
      display: block;
      width: 17px;
      height: 3px;
      margin-bottom: 3px;
      border-radius: 1.5px;
      background-color: #fff;
    }
  }
}
