@mixin header {
  background: linear-gradient(
      0deg,
      rgba(40, 100, 144, 0.68) 0,
      rgba(6, 87, 144, 0.56) 210%
    ),
    url(/bg-min.jpg);
  position: fixed;
  top: 0;
  right: 0;
  height: 65px;
  width: 100vw;

  &.no_bg {
    background: none;
    position: relative;
  }
}

.header {
  @include header;
  z-index: 90;
}

.logo {
  display: flex;
  align-items: center;

  & h1 {
    margin-bottom: 0;
  }
  & a {
    color: #fff;
    text-decoration: none;
  }
}

.header_mobile {
  display: none;
}

@media screen and (max-width: 992px) {
  .header {
    display: none;
  }
  .header_mobile {
    display: block;
    position: relative;
    z-index: 201;

    @include header;
  }
  .logo_mobile {
    text-align: center;
    padding: 1rem;

    & h1 {
      color: #fff;
    }
  }
  .menu_btn {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
    z-index: 202;

    & span {
      display: block;
      width: 17px;
      height: 3px;
      margin-bottom: 3px;
      border-radius: 1.5px;
      background-color: #fff;
    }
    .menu_btn span {
      width: 17px;
      height: 3px;
      display: block;
      margin-bottom: 4px;
      background-color: #fff;
      -moz-transition: transform 0.6s ease, opacity 0.6s ease,
        background-color 0.3s ease;
      transition: transform 0.6s ease, opacity 0.6s ease,
        background-color 0.3s ease;
      will-change: transform, background-color;
    }
    .menu_btn span:first-child {
      transform-origin: 2px 1px 0;
    }
    .menu_btn span:last-child {
      transform-origin: 2px 1px 0;
    }
    .active span:first-child {
      transform: rotateZ(45deg) scaleX(1.5) scaleY(0.7);
    }
    .active span:nth-child(2) {
      transform: rotateX(90deg);
      opacity: 0;
    }
    .active span:last-child {
      transform: rotateZ(-45deg) scaleX(1.5) scaleY(0.7);
    }
  }
}
