.exchange_form {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 800px;
}

.exchange_amounts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 115px;

  & > div {
    height: 100%;
  }

  & > .exchange_amounts_input {
    width: 45%;
    padding: 0 1rem;

    header {
      text-align: center;
      margin-bottom: 1rem;
      color: #bbb;
      font-size: 1.3rem;
    }

    .input_box {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid;
        background: none;
        border-color: #f7931a;
        color: #f7931a;
        font-size: 1.6rem;
        outline: none;
      }
      .input_receive {
        direction: ltr;
      }
      .label_left {
        position: absolute;
        left: 0.2rem;
        top: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .label_right {
        position: absolute;
        right: 0.2rem;
        top: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      label .coin_image {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 2px;
      }
    }

    .input_sub {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 3px;
      font-size: 0.65rem;

      button {
        background: none;
        border: 0;
        color: #fff;
        padding: 0;

        & > span {
          border-bottom: 1px dashed;
        }
      }
    }
  }
  & > .exchange_amounts_arrow {
    width: 10%;
    text-align: center;

    header {
      border-bottom: 1px dashed #bbb;
      color: #bbb;
      font-size: 1.3rem;
    }

    button {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      background: none;
      border: none;
      text-align: center;
    }
  }
}

.wallet {
  margin-top: 1rem;
  width: 100%;

  & > div {
    position: relative;
    width: 100%;

    input {
      width: 100%;
      border: 0;
      color: #fff;
      background: none;
      text-align: center;
      outline: none;
    }

    hr {
      background: linear-gradient(to right, #ffffff 0%, #f7931a 100%);
      margin: 0;
      height: 2px;
      opacity: 0.3;
      border: 0;
    }

    div {
      position: absolute;
      left: 0.3rem;
      top: -0.3rem;
    }
  }
}

.exchange_options {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & > div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;

    label {
      position: relative;
      width: 50%;
      cursor: pointer;
      margin: 0;

      input {
        position: absolute;
        right: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }

      span {
        border: 2px solid #fff;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background-color: rgba(0, 0, 0, 0.38);
        padding: 0.625em 0;
      }
      &:first-of-type > span {
        border-radius: 0 0.6em 0.6em 0;
      }
      &:last-of-type > span {
        border-radius: 0.6em 0 0 0.6em;
      }
      & input:checked + span {
        opacity: 1;
        z-index: 1;
      }
    }
  }
  .difference {
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    opacity: 0.6;
    padding: 0.5em 1.4em 0.3em;

    span {
      border-bottom: 1px dashed;
    }
  }
}

.modal {
  h4 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    font-weight: bold;
  }
  p {
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 0.2rem;
    font-size: 15px;
  }
  ul {
    list-style: disc;
    margin: 0.5rem 0;
    font-size: 15px;
  }
}

.exchange_btn {
  margin-top: 1rem;
  width: 100%;

  button:disabled {
    opacity: 0.6;
  }

  button {
    border-radius: 0.6em;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    overflow: hidden;
    padding: 2px;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    will-change: opacity;
    background: linear-gradient(to right, #f7931a 0%, #ffffff 100%);
    width: 100%;

    span {
      box-sizing: border-box;
      background-color: #151e24;
      border-radius: 0.5em;
      color: #fff;
      display: block;
      font-size: 1.12em;
      padding: 0.7em 3em;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

@media screen and(max-width: 640px) {
  .exchange_form {
    width: 100%;
    font-size: 14px;
  }

  .exchange_amounts {
    height: 100%;

    & > .exchange_amounts_input {
      width: 100%;

      header {
        text-align: right;
      }
    }
    .input_sub {
      font-size: 10px !important;
      flex-wrap: wrap;
    }

    & > .exchange_amounts_arrow {
      width: 100%;
      margin: 1rem 0;
    }
  }

  .wallet {
    margin: 3rem 0 2rem 0;
  }

  .exchange_btn {
    button {
      span {
        padding: 0.7rem;
      }
    }
  }
}
