.card {
  height: 230px;
  border: 1px solid #f2f2f2;
  padding: 1.5rem;

  .head {
    font-size: 19px;
    text-align: center;
    font-weight: 600;
  }

  .body {
    text-align: justify;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0 2px;
}

.page_link {
  color: #0171a6;
  margin-top: 1rem;
  display: block;
}

@media screen and (max-width: 800px) {
  .card {
    margin-bottom: 1rem;
    height: auto;
    .head {
      font-size: 16px;
    }
    .body {
      font-size: 13px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .card {
    height: auto;
    padding: 1rem;
    .head {
      font-size: 17px;
    }
    .body {
      font-size: 14px;
    }
  }
}
