* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'IRANSANS';
  font-display: block;
  src: url('/assets/fonts/IranSans/woff2/IRANSansWeb.woff2') format('woff2'),
    url('/assets/fonts/IranSans/woff/IRANSansWeb.woff') format('woff'),
    url('/assets/fonts/IranSans/ttf/IRANSansWeb.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IRANSANS', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
  overflow-x: hidden;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.section-container {
  padding: 3rem 0;
}

div.coin-ico {
  background-size: auto 100%;
  float: none;
  height: 2em;
  text-align: center;
  width: 2em;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  background: #ecf0f4;
  padding-top: 65px;
  padding-bottom: 10rem;
  min-height: 75vh;
}

.page-title {
  padding: 2rem 0;
  text-align: center;

  & h2 {
    font-size: 2.5rem;
  }
}

.content-box {
  max-width: 720px;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem 3.5rem;
  border-radius: 0.3rem;

  & h4 {
    text-align: center;
    margin: 3rem 0 1rem 0;
  }

  & p {
    text-align: justify;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.nav-tabs .nav-link {
  border: 0;
}

.shadow-body {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.703);
  z-index: 200;
}

.main-full-bg {
  width: 100%;
  background-image: linear-gradient(
      -200deg,
      rgba(11, 75, 121, 0.54) 0,
      #000810 100%
    ),
    url(/bg-min.jpg);
  background-color: #324654;
  position: relative;
  background-size: cover;
  height: 100vh;
}
